---
title: "Seminar \"Neural Networks in Formal Verification\""
date: 2024-10-03
semester_label: "Winter 2024/25"
course_url: "https://formal.kastel.kit.edu/teaching/Seminar-WS2425/"
role: "Co-Organizer & Student advisor"
materials_text: "ILIAS"
---
