---
title: "Bernstein Polynomial Set Representations for Optimizable Neural Network Verification"
date: 2026-04-01
semester_label: "Summer 2026"
project_type: "Bachelor's Thesis"
---
