---
title: "Dimensionality Reduction for Neural Network Verification"
date: 2023-04-02
semester_label: "Summer 2023"
project_type: "Bachelor's Thesis"
---
